.bar {
    
    margin-bottom: 5px;
    margin-top: 10px;
    width: 50%;

}
.buscar {
    display: row;
    flex-direction: column;
    margin-left: 10px;
}
.buscar label {
    margin-right: 10px;
}
.nav {
    background-color: black;
    display: block;
}
.navigation {
    
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
    margin-top: 10px;
    margin-right: 10px;
}
.link{
    color: white;
    font-size: 20px;
    
}
.modal-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    
}
.modal-grid input {  
    font-size: small;
    text-align: center;
    width: 100%;
}

.modal h3 {
    text-align: left;
    text-transform: uppercase;
}
.modal-grid span {
    
    text-align: center;
    text-transform: none;
}

